<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fichador de Obras</title>
    {{ asset('build/app.css') }}
</head>
<body>
    <div id="app"></div>

    {{ asset('build/app.js') }}
</body>
</html>
